:root {
    --color1:#9c576e;
    --color2:#955b6a;
    --color3:#c88898;
    --color4:#f6a0af;
    --color5:#f47fa2;
    --color6:#f0bab2;
    --color7:#f0bab2;
    --color8:#9c7d9c;
    --color9:#6f6482;
    --color10:#538c9f;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: linear-gradient(left to right, var(--color1), var(--color2), var(--color3), var(--color4));
    color: var(--color2);
    /* transition: all 1s ease-in-out; */
}


head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 200px;
    align-items:right;

}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 200px;
    align-items:left;
    padding: 600px;
    margin:auto;
    font-size: 80%
    /* background-color: var(--color6); */

}

h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--color7);
    z-index: 2;

}

img {
    display: flex;
    opacity: .50;
    item-siz
    margin:auto;
    height: 200px;
    width: 200px;
}

.bio {
    display: flex;
    position: relative;
    font-size: 200px;
    font-weight: bold;
    color: var(--color7);
    font-stretch: semi-condensed;
    align-items: center;
    margin-left: 10%;
    margin-bottom: -400px;
    z-index:-2;
}

p {
    padding: 120px;
}

a {
    font-weight: bold;

}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 200px;
    outline: 10px solid var(--color8);
    margin:10%;

}
.navlink {
    position: relative;
    margin:auto;
    margin-bottom: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
    color: var(--color3);
    font-weight: bold;

    transition: all 0.5s ease-in-out;
}

.navlink2 {
    position: relative;
    padding: left 1px;
    margin:auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
    color: var(--color7);
    transition: all 0.5s ease-in-out;
}

/**/
.cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 200px;
    align-items: flex-start;
}


.card1 {
    /**/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 120px;
    /**/
    color: var(--color7);
    font-weight:bolder;
    /**/
    outline: 6px solid var(--color8);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
.avatar {
    max-zoom: 110%;
}
/**/
footer {
    position: relative;
    margin: 5px var(--color3);
    border: 5px var(--color2);
    bottom: 0;
    width: 90%;
    height: 2.5rem;
    text-align: center;
}
